# Copy this file to .env and fill values

PORT=4000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sayali@123
DB_NAME=taxbuddy
DB_PORT=3306

JWT_SECRET=e87286aeb5aafd0e73047b5980cb062b48648e9cb7502d01ec255439382819545621cb2e0dfa6ba47f576275dd53f7bd792d9c252568b14a9f49ea6f50934d65
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=AIzaSyAIg6pdG2NQsjKONQqYx42kfsET9QhCUb0
GEMINI_MODEL=gemini-pro
GEMINI_ENDPOINT=https://generativeai.googleapis.com/v1/models

NODE_ENV=development